body {
  background-color: black;
  padding: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}
h3 {
  color: yellowgreen;
}
h1 {
  color: tomato;
}
select {
  width: 200px;
  padding: 10px;
}
input {
  padding: 10px;
}
hr {
  margin: 50px 0;
}
label {
  margin-right: 50px;
}
a {
  color: #fff;
}
a:hover {
  text-decoration: none;
}
